Experimento2_Parcial/persistence.json
[{"id":"f707f81d.60ae48","type":"debug","z":"e8dcadb0.11089","name":"","active":true,"console":"false","complete":"false","x":324.8300018310547,"y":378.11808586120605,"wires":[]},{"id":"a117e598.083b08","type":"function","z":"e8dcadb0.11089","name":"Processing Data","func":"var msg = msg.payload.temperature;\nres = {};\nres.data = 0;\n\nif(msg.data > 23.0)\n{\n    res = {};\n    res.payload = \"TEMPERATURA FUERA DE RANGO\\rLugar\" + msg.place;\n    res.payload += \"\\rValor: \" + msg.data + \" °C\"\n    res.flag = 1;\n    \n    msg.topic = \"TEMPERATURA FUERA DE RANGO\";\n    return res;\n}\nreturn res;","outputs":1,"noerr":0,"x":557.8959503173828,"y":164.53817176818848,"wires":[["a82a56a9.fff158","8516b55.8c09c48"]]},{"id":"a82a56a9.fff158","type":"debug","z":"e8dcadb0.11089","name":"","active":true,"console":"false","complete":"false","x":782.3820495605469,"y":62.12153434753418,"wires":[]},{"id":"8516b55.8c09c48","type":"switch","z":"e8dcadb0.11089","name":"filter","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":748.8405342102051,"y":166.64585876464844,"wires":[["fd16fc3e.2d367"]]},{"id":"fd16fc3e.2d367","type":"e-mail","z":"e8dcadb0.11089","server":"smtp.office365.com","port":"587","secure":true,"name":"nd.munoz10@uniandes.edu.co","dname":"Send Notification","x":953.9377975463867,"y":164.96875381469727,"wires":[]},{"id":"86e249a9.dff148","type":"mqtt in","z":"e8dcadb0.11089","name":"","topic":"alarm","qos":"0","broker":"77b2108f.80487","x":137.01738739013672,"y":267.0104122161865,"wires":[["f707f81d.60ae48","61389125.ffef6"]]},{"id":"cc82b7e4.f84198","type":"mqtt in","z":"e8dcadb0.11089","name":"","topic":"report","qos":"0","broker":"77b2108f.80487","x":133.01737213134766,"y":466.1216297149658,"wires":[["e4abc8bf.f23748","a42ef8ca.ad1d28"]]},{"id":"e4abc8bf.f23748","type":"debug","z":"e8dcadb0.11089","name":"","active":true,"console":"false","complete":"false","x":323.0173568725586,"y":549.1215314865112,"wires":[]},{"id":"ccb3c766.e6ae48","type":"mongodb out","z":"e8dcadb0.11089","mongodb":"2ec4c330.8db6bc","name":"Save Tpsec","collection":"ALERTAS","payonly":true,"upsert":false,"multi":false,"operation":"store","x":557.0175323486328,"y":267.12157821655273,"wires":[]},{"id":"61389125.ffef6","type":"json","z":"e8dcadb0.11089","name":"Format 2 JSON","pretty":false,"x":327.0000228881836,"y":266.3333263397217,"wires":[["ccb3c766.e6ae48","a117e598.083b08"]]},{"id":"a42ef8ca.ad1d28","type":"json","z":"e8dcadb0.11089","name":"Format 2 JSON","pretty":false,"x":334,"y":471.33331298828125,"wires":[["c2d12efa.7fa4"]]},{"id":"c2d12efa.7fa4","type":"mongodb out","z":"e8dcadb0.11089","mongodb":"2ec4c330.8db6bc","name":"Save Tpsec","collection":"REPORTES","payonly":true,"upsert":false,"multi":false,"operation":"store","x":552.000114440918,"y":472.33334159851074,"wires":[]},{"id":"77b2108f.80487","type":"mqtt-broker","z":"","broker":"172.24.42.65","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"2ec4c330.8db6bc","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""}]