Experimento2/ManejoAlertas/Telemetria
[
    {
        "id": "71f13b35.76f724",
        "type": "tab",
        "label": "Telemetry Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2049a04.405358",
        "type": "inject",
        "z": "71f13b35.76f724",
        "name": "Sensor Time",
        "topic": "roomTime",
        "payload": "",
        "payloadType": "date",
        "repeat": "6",
        "crontab": "",
        "once": true,
        "x": 387.99999237060547,
        "y": 515.000020980835,
        "wires": [
            [
                "a5d2ba10.bb14f8",
                "80ca49c1.72faa8"
            ]
        ]
    },
    {
        "id": "80ca49c1.72faa8",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Format Time",
        "func": "var res = {};\n\nepoch = msg.payload;\ntopic = msg.topic;\n\ntimeNoMicro = new Date(epoch);\nsensortime = timeNoMicro.toLocaleString() + '.' + (timeNoMicro.getMilliseconds());\n// The 0 there is the key, which sets the date to the epoch\n\nres.payload = sensortime;\nres.topic = topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 597.9999923706055,
        "y": 515.000020980835,
        "wires": [
            [
                "b00f0fd4.4fbd",
                "677c1348.854d0c"
            ]
        ]
    },
    {
        "id": "1c13451e.e19fcb",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Format Temperature",
        "func": "var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\":parseInt(tempArray[0]),\n                \"unit\":tempUnit,\n                \"place\":\"deposito externo\"};\n                \nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 627.9999923706055,
        "y": 435.00002098083496,
        "wires": [
            [
                "6b63b3c8.55c73c",
                "677c1348.854d0c"
            ]
        ]
    },
    {
        "id": "b00f0fd4.4fbd",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Time after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 829.0000419616699,
        "y": 515.0000381469727,
        "wires": []
    },
    {
        "id": "a5d2ba10.bb14f8",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Time before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 627.9999923706055,
        "y": 475.00002098083496,
        "wires": []
    },
    {
        "id": "a5e19d24.4d701",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Temp before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 627.9999923706055,
        "y": 395.00002098083496,
        "wires": []
    },
    {
        "id": "6b63b3c8.55c73c",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Temp after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 890.0000305175781,
        "y": 435.0000877380371,
        "wires": []
    },
    {
        "id": "677c1348.854d0c",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Merge 5 messages",
        "func": "context.data = context.data || new Object();\n\nswitch ( msg.topic ) {\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    case \"roomNoise\":\n        context.data.noise = msg.payload;\n        msg = null;\n        break;\n    case \"roomGas\":\n        context.data.gas = msg.payload;\n        msg = null;\n        break;\n    case \"roomIlumination\":\n        context.data.ilumination = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\n/*// Inicializa count en 0 si aún no existe\nvar count = context.get('count')||0;\n\n// Aumento según procesadores disponibles\ncount = (count+1) % 2;\n\n// Almacena el nuevo valor\ncontext.set('count', count);\n\nif(count == 0) {\n    context.data.id = 1;\n}\nelse if (count == 1) {\n    context.data.id = 2500;\n}*/\n\ncontext.data.id = 1;\n\nif( context.data.sensetime != null &&\n    context.data.temperature != null &&\n    context.data.noise == null &&\n    context.data.gas != null && \n    context.data.ilumination == null ) {\n    \n    context.data.noise = null;\n    context.data.ilumination = null;\n    \n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomMeasures\";\n    context.data = null;\n    \n\treturn res;\n}\nelse if ( context.data.sensetime != null &&\n          context.data.temperature != null &&\n          context.data.noise != null &&\n          context.data.gas != null && \n          context.data.ilumination != null ) {\n              \n    res = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomMeasures\";\n    context.data = null;\n    \n\treturn res;          \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 1111.0000534057617,
        "y": 348.00008964538574,
        "wires": [
            [
                "47f77e8f.9c731",
                "6d448c44.f03ad4"
            ]
        ]
    },
    {
        "id": "47f77e8f.9c731",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "after merge",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "586b27a8.d9e178",
        "type": "inject",
        "z": "71f13b35.76f724",
        "name": "Temperature Interval",
        "topic": "roomTemperature",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "6",
        "crontab": "",
        "once": false,
        "x": 186.00000762939453,
        "y": 416.0000305175781,
        "wires": [
            [
                "deeedea7.11ac6"
            ]
        ]
    },
    {
        "id": "deeedea7.11ac6",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Random Temp",
        "func": "rdm = Math.floor( Math.random() * (70) );\nvar res = {};\nres.payload = rdm + \"\\tC\";\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 392.99999237060547,
        "y": 416.00002098083496,
        "wires": [
            [
                "a5e19d24.4d701",
                "1c13451e.e19fcb"
            ]
        ]
    },
    {
        "id": "f3f4aea.81c8b5",
        "type": "mqtt out",
        "z": "71f13b35.76f724",
        "name": "Send Measures",
        "topic": "data",
        "qos": "0",
        "retain": "",
        "broker": "6c75c982.fe64b8",
        "x": 1464,
        "y": 348,
        "wires": []
    },
    {
        "id": "bd3b3e9e.f23c6",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Format Noise",
        "func": "var res = {};\nvar noiseArray = [];\nvar noiseUnit = \"\";\n\nnoiseString = msg.payload;\nnoiseArray = noiseString.split(\"\\t\");\nnoiseUnit = noiseArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomNoise\";\nres.payload = {};\n\nres.payload = {\"data\":parseInt(noiseArray[0]),\n                \"unit\":noiseUnit,\n                \"place\":\"deposito externo\"};\n                \nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 606.8958129882812,
        "y": 353.8889350891113,
        "wires": [
            [
                "677c1348.854d0c",
                "40652861.4f88f8"
            ]
        ]
    },
    {
        "id": "cfdab3c3.c6185",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Noise before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 636.8958129882812,
        "y": 313.8889350891113,
        "wires": []
    },
    {
        "id": "7e6f8ee3.69fc1",
        "type": "inject",
        "z": "71f13b35.76f724",
        "name": "Noise Interval",
        "topic": "roomNoise",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "12",
        "crontab": "",
        "once": false,
        "x": 164.8958282470703,
        "y": 334.8889446258545,
        "wires": [
            [
                "33f814a.05466ec"
            ]
        ]
    },
    {
        "id": "33f814a.05466ec",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Random Noise",
        "func": "rdm = Math.floor( Math.random() * (100) );\nvar res = {};\nres.payload = rdm + \"\\tdB\";\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 391.89581298828125,
        "y": 334.8889350891113,
        "wires": [
            [
                "cfdab3c3.c6185",
                "bd3b3e9e.f23c6"
            ]
        ]
    },
    {
        "id": "8de3d609.f040a8",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Format Gas",
        "func": "var res = {};\nvar gasArray = [];\nvar gasUnit = \"\";\n\ngasString = msg.payload;\ngasArray = gasString.split(\"\\t\");\ngasUnit = gasArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomGas\";\nres.payload = {};\n\nres.payload = {\"data\":parseInt(gasArray[0]),\n                \"unit\":gasUnit,\n                \"place\":\"deposito externo\"};\n                \nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 599.8958282470703,
        "y": 272.8888912200928,
        "wires": [
            [
                "677c1348.854d0c",
                "a2eb04ca.be6c98"
            ]
        ]
    },
    {
        "id": "72053070.e9777",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Gas before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 629.8958282470703,
        "y": 232.88889122009277,
        "wires": []
    },
    {
        "id": "b2547ca9.15325",
        "type": "inject",
        "z": "71f13b35.76f724",
        "name": "Gas Interval",
        "topic": "roomGas",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "6",
        "crontab": "",
        "once": false,
        "x": 167.89584350585938,
        "y": 253.88890075683594,
        "wires": [
            [
                "48bb5ffd.309ee"
            ]
        ]
    },
    {
        "id": "48bb5ffd.309ee",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Random Gas",
        "func": "rdm = Math.floor(Math.random() * 180);\nvar res = {};\nres.payload = rdm + \"\\tppm\";\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 394.8958282470703,
        "y": 253.88889122009277,
        "wires": [
            [
                "72053070.e9777",
                "8de3d609.f040a8"
            ]
        ]
    },
    {
        "id": "54855b88.bb7074",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Format Ilumination",
        "func": "var res = {};\nvar monoxArray = [];\nvar monoxUnit = \"\";\n\nmonoxString = msg.payload;\nmonoxArray = monoxString.split(\"\\t\");\nmonoxUnit = monoxArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomIlumination\";\nres.payload = {};\n\nres.payload = {\"data\":parseInt(monoxArray[0]),\n                \"unit\":monoxUnit,\n                \"place\":\"deposito externo\"};\n                \nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 622.0000228881836,
        "y": 193.88888549804688,
        "wires": [
            [
                "677c1348.854d0c",
                "44317d15.ddc024"
            ]
        ]
    },
    {
        "id": "a78c8b31.5f3fa8",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Ilumination before format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 652.0000228881836,
        "y": 153.88888549804688,
        "wires": []
    },
    {
        "id": "a10c73e5.3cf2e",
        "type": "inject",
        "z": "71f13b35.76f724",
        "name": "Ilumination Interval",
        "topic": "roomIlumination",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "12",
        "crontab": "",
        "once": false,
        "x": 170,
        "y": 175,
        "wires": [
            [
                "4e1329dd.f008c8"
            ]
        ]
    },
    {
        "id": "4e1329dd.f008c8",
        "type": "function",
        "z": "71f13b35.76f724",
        "name": "Random Ilumination",
        "func": "rdm = Math.floor( Math.random() * 2600 );\nvar res = {};\nres.payload = rdm + \"\\tLux\";\nres.topic = msg.topic;\n\nreturn res;",
        "outputs": 1,
        "noerr": 0,
        "x": 417.0000228881836,
        "y": 174.88888549804688,
        "wires": [
            [
                "a78c8b31.5f3fa8",
                "54855b88.bb7074"
            ]
        ]
    },
    {
        "id": "44317d15.ddc024",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Ilumination after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 895.895866394043,
        "y": 193.888916015625,
        "wires": []
    },
    {
        "id": "40652861.4f88f8",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Noise after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 845.8959274291992,
        "y": 353.888973236084,
        "wires": []
    },
    {
        "id": "a2eb04ca.be6c98",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "Gas after format",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 863.8958320617676,
        "y": 272.88891887664795,
        "wires": []
    },
    {
        "id": "6d448c44.f03ad4",
        "type": "json",
        "z": "71f13b35.76f724",
        "name": "",
        "pretty": false,
        "x": 1300,
        "y": 348,
        "wires": [
            [
                "f3f4aea.81c8b5",
                "2b65e635.03486a"
            ]
        ]
    },
    {
        "id": "2b65e635.03486a",
        "type": "debug",
        "z": "71f13b35.76f724",
        "name": "after JSON",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1470,
        "y": 400,
        "wires": []
    },
    {
        "id": "6c75c982.fe64b8",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "8083",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]